html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	padding: 0;
	margin: 0;
}
.wrapper {
	width: 400px;
	margin-left: 40px;
	font-family: 'Courier New', Courier, monospace;
}

.screen {
	box-sizing: content-box;
	background-color: #000;
	color: #fff;
	min-height: 60px;
	font-size: 24px;
	text-align: right;
	padding: 20px 5px;
	display: flex;
	align-items: center;
}
.screen p {
	margin: 0;
	flex: 1;
}

.calc-buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

.calc-buttons button {
	background-color: #d8d9db;
	font-size: 35px;
	padding: 20px 0;
}

.calc-buttons button:hover {
	background-color: #ebebeb;
}

.calc-buttons button:active {
	background-color: #bbbcbe;
}

.calc-buttons button.operator {
	background-color: #df974c;
	color: #fff;
}

.calc-buttons button.operator:hover {
	background-color: #dfb07e;
}

.calc-buttons button.operator:active {
	background-color: #dd8d37;
}

.wide-2 {
	grid-column-end: span 2;
}

.wide-3 {
	grid-column-end: span 3;
}